@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #adadf8;
  --text-color: #003;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #adadf8;
    --bg: #003;
  }
}

body {
  color: var(--text-color);
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
