.form {
  box-shadow: 0 0 10px currentColor;
  padding: 20px;
  border-radius: 10px;

  button {
    float: right;
    border-radius: 10px;
    box-shadow: 0 0 10px currentColor;
    cursor: pointer;
    padding: 5px 10px;
  }
}

.cutomInput {
  position: relative;
  margin: 20px 0;
  input {
    background: var(--bg);
    outline: 1px solid currentColor;
    padding: 5px 10px;
    border-radius: 5px;
  }
  label {
    position: absolute;
    left: 10px;
    top: 5px;
    opacity: 0.5;
    transition: all 0.3s;
    text-transform: capitalize;
  }
  &.notEmpty label,
  input:focus ~ label {
    opacity: 1;
    font-weight: bold;
    font-size: small;
    top: -11px;
    left: 5px;
    background: var(--bg);
    padding: 0 5px;
  }
  input:focus {
    outline: 2px solid currentColor;
  }
}
